*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background:#050505;
    color:white;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif;
}


section{
    max-width:700px;
    margin:40px auto;
    padding:40px 25px;
    background:
    linear-gradient(145deg,#171717,#090909);
    border-radius:35px;
    border:1px solid rgba(255,255,255,0.15);
    box-shadow:
    0 0 40px rgba(0,100,255,0.15);
}


h1,h2{
    font-size:42px;
    margin-bottom:25px;
    font-weight:800;
}


h3{
    font-size:22px;
    margin:25px 0 15px;
}


p{
    color:#cfcfcf;
    font-size:20px;
    line-height:1.6;
    margin-bottom:20px;
}


button{
    width:100%;
    padding:18px;
    margin:10px 0;
    border:none;
    border-radius:50px;
    background:#0066ff;
    color:white;
    font-size:20px;
    font-weight:700;
    cursor:pointer;
    box-shadow:
    0 0 25px rgba(0,102,255,0.5);
}


button:hover{
    transform:scale(1.03);
}


input{
    width:100%;
    padding:18px;
    border-radius:20px;
    border:none;
    font-size:18px;
    margin:15px 0;
}


input[type="file"]{
    background:white;
    color:black;
    padding:10px;
}


.sizes{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}


.sizes button{
    margin:0;
}


@media(max-width:600px){

section{
    margin:20px;
    padding:30px 20px;
}


h1,h2{
    font-size:34px;
}


p{
    font-size:18px;
}

}
/* FIX ALIYAN WEAR MOBILE */

.hero,
.constructor{
    overflow:hidden;
}


.tshirt{
    max-width:280px;
    height:360px;
    margin:40px auto;
    display:block;
    border-radius:35px;
}


.constructor h2{
    text-align:center;
}


.constructor p{
    text-align:center;
}


input{
    display:block;
    width:100%;
    max-width:400px;
    margin:20px auto;
}


#orderCheck button{
    width:100%;
}


@media(max-width:600px){

section{
    width:100%;
    margin:20px 0;
    border-radius:25px;
}


h2{
    font-size:34px;
}


button{
    font-size:18px;
}


.sizes{
    grid-template-columns:repeat(2,1fr);
}

}
